# Ignore Gradle project-specific cache directory
.gradle
.settings
.idea
.classpath
.project
/.gradle/
/.idea/
/.settings/
/.project/

# Ignore Gradle build output directory
bin
build
history
target/site
